<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>완성된 툰 이미지를 저장하기 위해 사용자의 사진에 접근 권한이 필요합니다</string>
	<key>NSCameraUsageDescription</key>
	<string>프로필 이미지 변경을 위해, 카메라 사용 권한이 필요합니다.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>APP_NAME</key>
	<string>$(APP_NAME)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao${KAKAO_NATIVE_APP_KEY}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${GOOGLE_CLIENT_ID_REVERSED}</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>${GOOGLE_CLIENT_ID}</string>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>${KAKAO_NATIVE_APP_KEY}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-ExtraLight.otf</string>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Thin.otf</string>
	</array>
</dict>
</plist>
