//
//  Stag.xcconfig
//  TTOON
//
//  Created by Dongwan Ryoo on 3/27/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//환경
ENV = stag

//앱 이름
NAME = TN-stag

//버전
APP_VERSION = 1.0

//앱 이름 + 버전
APP_NAME = $(NAME) ($(APP_VERSION))

//번들 ID
BUNDLE_IDENTIFIER = com.TTOON.staging

//Base URL
BASE_URL =
